body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    text-decoration: none;
    margin: 0 15px;
}

.links {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.8s, transform 0.3s ease-in;
}

.links:hover {
    color: orange;
    transform: scale(1, 1);
}

/* Hero Section Styles */
.hero {
    color: white;
    background-color: #473992;
    padding: 50px 20px;
    text-align: center;
}


/* A Propos Section Styles */

/* Services Section Styles */
.services-container {
    padding: 50px 20px;
    justify-content: center;
}

.services-container .row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.services-card {
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
}

.services-card img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/* Contact Styles */
.contact-section {
    display: flex;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .license {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0%;
}