body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-blog {
    color: white;
    background-color: black;
    padding-left: 1%;
    padding-right: 1%;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    margin: 0 15px;
}

.links {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
    transition: color 0.5s, transform 0.3s ease-in;
}

.links:hover {
    color: orange;
    transform: scale(1, 1);
}

/* Hero Section Styles */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-section canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-150%);
}

/* A Propos Section Styles */

/* Services Section Styles */
.services-container {
    padding: 50px 20px;
    justify-content: center;
}

.services-container .row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.services-card {
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
}

.services-card img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/* Articles Section Styles */
.articles-container {
    padding: 50px 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.article-card{
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 10px;

}
.article-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
}

.article-card h3, .article-card p {
    margin: 0px 15px;
    margin-bottom: 10px;
}

.voir-plus{
    margin-top: auto;
    padding: 0 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.658);
}

/* Contact Styles */
.container-contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin:auto;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.contact-card {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .license {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0%;
}